#home-container{
    width:100%;
    height:450px;
    background-image:url("/todo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.brand-logo{
    margin-left:1%;
}
.centerform{
    width:60%;
    margin:50px auto;
    text-align:center;
}
@media only screen and (min-width: 1000px) {
    .row{
        width:60%;
    }
  }